          <h1>ここです！！</h1>

     <p>こんにちは、<%= @user.name %>さん。</p>

   <p>この度はWeb攻略サービスに仮登録いただきありがとうございます。</p>

   <p>下記リンクをクリックしてアカウントを有効化してください。</p>

<%= link_to 'アカウント有効化', edit_account_activation_url(@user.activation_token, email: @user.email) , class: 'btn btn-primary' %>
