<h1>User Authentication App</h1>
下記のリンクよりパスワードの再設定を行ってください。
</p>
<p>
<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token, email: @user.email) %>
</p>
<p>このリンクの有効期限は２時間です。</p>
<p>パスワードを変更する場合は２時間以内に行ってください。</p>