<h1>お知らせ</h1>
<p>目標ですが</p>
<ol>
  <li>編集機能追加</li>
  <li>ログイン方法の追加</li>
  <li>検索機能追加</li>
  <li>デザインの修正</li>
</ol>

<p>する予定です（作れるどうか分かりません）</p>
<p>まだ未経験ですが、初めてこのサイトをつくりました。欲しい機能や改善点がありましたら、教えてください。</p>
