/*————————————————————————*/
/* margin ——————————————————–*/
/*————————————————————————*/
.mauto {margin-right:auto; margin-left:auto;}
.ma0 {margin:0;}
.mt0 {margin-top:0!important;}
.mt5 {margin-top:5px!important;}
.mt10 {margin-top:10px!important;}
.mt15 {margin-top:15px!important;}
.mt20 {margin-top:20px!important;}
.mt25 {margin-top:25px!important;}
.mt30 {margin-top:30px!important;}
.mt35 {margin-top:35px!important;}
.mt40 {margin-top:40px!important;}
.mt45 {margin-top:45px!important;}
.mt50 {margin-top:50px!important;}
.mt55 {margin-top:55px!important;}
.mt60 {margin-top:60px!important;}
.mt65 {margin-top:65px!important;}
.mt70 {margin-top:70px!important;}
.mt75 {margin-top:75px!important;}
.mt80 {margin-top:80px!important;}
.mt85 {margin-top:85px!important;}
.mt90 {margin-top:90px!important;}
.mt95 {margin-top:95px!important;}
.mt100 {margin-top:100px!important;}
.mt150 {margin-top:150px!important;}
.mt200 {margin-top:200px!important;}
.mt250 {margin-top:250px!important;}
.mt300 {margin-top:300px!important;}
.mt350 {margin-top:350px!important;}
.mt400 {margin-top:400px!important;}
.mt450 {margin-top:450px!important;}
.mt500 {margin-top:500px!important;}

.mr0 {margin-right:0!important;}
.mr5 {margin-right:5px!important;}
.mr10 {margin-right:10px!important;}
.mr15 {margin-right:15px!important;}
.mr20 {margin-right:20px!important;}
.mr25 {margin-right:25px!important;}
.mr30 {margin-right:30px!important;}
.mr35 {margin-right:35px!important;}
.mr40 {margin-right:40px!important;}
.mr45 {margin-right:45px!important;}
.mr50 {margin-right:50px!important;}
.mr55 {margin-right:55px!important;}
.mr60 {margin-right:60px!important;}
.mr65 {margin-right:65px!important;}
.mr70 {margin-right:70px!important;}
.mr75 {margin-right:75px!important;}
.mr80 {margin-right:80px!important;}
.mr85 {margin-right:85px!important;}
.mr90 {margin-right:90px!important;}
.mr95 {margin-right:95px!important;}
.mr100 {margin-right:100px!important;}
.mr150 {margin-right:150px!important;}
.mr200 {margin-right:200px!important;}
.mr250 {margin-right:250px!important;}
.mr300 {margin-right:300px!important;}
.mr350 {margin-right:350px!important;}
.mr400 {margin-right:400px!important;}
.mr450 {margin-right:450px!important;}
.mr500 {margin-right:500px!important;}

.mb0 {margin-bottom:0!important;}
.mb5 {margin-bottom:5px!important;}
.mb10 {margin-bottom:10px!important;}
.mb15 {margin-bottom:15px!important;}
.mb20 {margin-bottom:20px!important;}
.mb25 {margin-bottom:25px!important;}
.mb30 {margin-bottom:30px!important;}
.mb35 {margin-bottom:35px!important;}
.mb40 {margin-bottom:40px!important;}
.mb45 {margin-bottom:45px!important;}
.mb50 {margin-bottom:50px!important;}
.mb55 {margin-bottom:55px!important;}
.mb60 {margin-bottom:60px!important;}
.mb65 {margin-bottom:65px!important;}
.mb70 {margin-bottom:70px!important;}
.mb75 {margin-bottom:75px!important;}
.mb80 {margin-bottom:80px!important;}
.mb85 {margin-bottom:85px!important;}
.mb90 {margin-bottom:90px!important;}
.mb95 {margin-bottom:95px!important;}
.mb100 {margin-bottom:100px!important;}
.mb150 {margin-bottom:150px!important;}
.mb200 {margin-bottom:200px!important;}
.mb250 {margin-bottom:250px!important;}
.mb300 {margin-bottom:300px!important;}
.mb350 {margin-bottom:350px!important;}
.mb400 {margin-bottom:400px!important;}
.mb450 {margin-bottom:450px!important;}
.mb500 {margin-bottom:500px!important;}
.mb550 {margin-bottom:550px!important;}
.mb600 {margin-bottom:600px!important;}
.mb650 {margin-bottom:650px!important;}
.mb700 {margin-bottom:700px!important;}
.mb750 {margin-bottom:750px!important;}
.mb800 {margin-bottom:800px!important;}
.mb850 {margin-bottom:850px!important;}
.mb900 {margin-bottom:900px!important;}
.mb950 {margin-bottom:950px!important;}

.ml0 {margin-left:0!important;}
.ml5 {margin-left:5px!important;}
.ml10 {margin-left:10px!important;}
.ml15 {margin-left:15px!important;}
.ml20 {margin-left:20px!important;}
.ml25 {margin-left:25px!important;}
.ml30 {margin-left:30px!important;}
.ml35 {margin-left:35px!important;}
.ml40 {margin-left:40px!important;}
.ml45 {margin-left:45px!important;}
.ml50 {margin-left:50px!important;}
.ml55 {margin-left:55px!important;}
.ml60 {margin-left:60px!important;}
.ml65 {margin-left:65px!important;}
.ml70 {margin-left:70px!important;}
.ml75 {margin-left:75px!important;}
.ml80 {margin-left:80px!important;}
.ml85 {margin-left:85px!important;}
.ml90 {margin-left:90px!important;}
.ml95 {margin-left:95px!important;}
.ml100 {margin-left:100px!important;}
.ml150 {margin-left:150px!important;}
.ml200 {margin-left:200px!important;}
.ml250 {margin-left:250px!important;}
.ml300 {margin-left:300px!important;}
.ml350 {margin-left:350px!important;}
.ml400 {margin-left:400px!important;}
.ml450 {margin-left:450px!important;}
.ml500 {margin-left:500px!important;}

.mrl0 {margin-right:0; margin-left:0!important;}
.mrl5 {margin-right:5px; margin-left:5px!important;}
.mrl10 {margin-right:10px; margin-left:10px!important;}
.mrl15 {margin-right:15px; margin-left:15px!important;}
.mrl20 {margin-right:20px; margin-left:20px!important;}
.mrl25 {margin-right:15px; margin-left:25px!important;}
.mrl30 {margin-right:30px; margin-left:30px!important;}
.mrl35 {margin-right:15px; margin-left:35px!important;}
.mrl40 {margin-right:40px; margin-left:40px!important;}
.mrl45 {margin-right:15px; margin-left:45px!important;}
.mrl50 {margin-right:50px; margin-left:50px!important;}
.mrl55 {margin-right:15px; margin-left:55px!important;}
.mrl60 {margin-right:60px; margin-left:60px!important;}
.mrl65 {margin-right:15px; margin-left:65px!important;}
.mrl70 {margin-right:70px; margin-left:70px!important;}
.mrl75 {margin-right:15px; margin-left:75px!important;}
.mrl80 {margin-right:80px; margin-left:80px!important;}
.mrl85 {margin-right:15px; margin-left:85px!important;}
.mrl90 {margin-right:90px; margin-left:90px!important;}
.mrl85 {margin-right:15px; margin-left:95px!important;}
.mrl100 {margin-right:100px; margin-left:100px!important;}
.mrl150 {margin-right:150px; margin-left:150px!important;}
.mrl200 {margin-right:200px; margin-left:200px!important;}
.mrl250 {margin-right:250px; margin-left:250px!important;}
.mrl300 {margin-right:300px; margin-left:300px!important;}
.mrl350 {margin-right:350px; margin-left:350px!important;}
.mrl400 {margin-right:400px; margin-left:400px!important;}
.mrl450 {margin-right:450px; margin-left:450px!important;}
.mrl500 {margin-right:500px; margin-left:500px!important;}

.mtb0 {margin-top:0; margin-bottom:0!important;}
.mtb5 {margin-top:5px; margin-bottom:5px!important;}
.mtb10 {margin-top:10px; margin-bottom:10px!important;}
.mtb15 {margin-top:15px; margin-bottom:15px!important;}
.mtb20 {margin-top:20px; margin-bottom:20px!important;}
.mtb25 {margin-top:25px; margin-bottom:25px!important;}
.mtb30 {margin-top:30px; margin-bottom:30px!important;}
.mtb35 {margin-top:35px; margin-bottom:35px!important;}
.mtb40 {margin-top:40px; margin-bottom:40px!important;}
.mtb45 {margin-top:45px; margin-bottom:45px!important;}
.mtb50 {margin-top:50px; margin-bottom:50px!important;}
.mtb55 {margin-top:55px; margin-bottom:55px!important;}
.mtb60 {margin-top:60px; margin-bottom:60px!important;}
.mtb65 {margin-top:65px; margin-bottom:65px!important;}
.mtb70 {margin-top:70px; margin-bottom:70px!important;}
.mtb75 {margin-top:75px; margin-bottom:75px!important;}
.mtb80 {margin-top:80px; margin-bottom:80px!important;}
.mtb85 {margin-top:85px; margin-bottom:85px!important;}
.mtb90 {margin-top:90px; margin-bottom:90px!important;}
.mtb95 {margin-top:95px; margin-bottom:95px!important;}
.mtb100 {margin-top:100px; margin-bottom:100px!important;}
.mtb150 {margin-top:150px; margin-bottom:150px!important;}
.mtb200 {margin-top:200px; margin-bottom:200px!important;}
.mtb250 {margin-top:250px; margin-bottom:250px!important;}
.mtb300 {margin-top:300px; margin-bottom:300px!important;}
.mtb350 {margin-top:350px; margin-bottom:350px!important;}
.mtb400 {margin-top:400px; margin-bottom:400px!important;}
.mtb450 {margin-top:450px; margin-bottom:450px!important;}
.mtb500 {margin-top:500px; margin-bottom:500px!important;}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  
  th {
    background-color: #ffe4d4;
    color: #f94144;
    border: 2px solid #f94144;
  }
  
  td {
    background-color: #fff1e6;
    color: #f3722c;
    border: 2px solid #f3722c;
  }
}
@media (max-width: 400px){
  th {
 font-size: 10px;
  }}
  .notice {
    background-color: #ccf;
  }
  .ui.card > .image:not(.ui) > img {
    border: none;
    width: 50%;
  }